# Базовые пакеты для DS
numpy
pandas
scipy

# Статистика
statsmodels
scikit-learn

pycausalimpact # Реализация BSTS на Python
synthdid       # Реализация Synthetic DiD (порт оригинальной R-библиотеки)
cvxpy          # Для матричной оптимизации

# Визуализация и MVP (Streamlit)
streamlit
plotly
matplotlib
seaborn